@import url('/static/style-variables.css');

@font-face {
    font-family: "w95fa";
    src:
      local("w95fa"),
      url("/static/w95fa/w95fa.woff") format("woff");
  }

*, *::before, *::after {
    box-sizing: border-box;
    /* font-family: 'Georgia', serif;  */
    font-family: w95fa, monospace; 
}

body {
    background-color: var(--background-color-light);
}

h1 {
    font-size: 90px;
    font-weight: bold;
}

h2 {
    font-size: 60px;
    font-weight: bold; 
}

h3 {
    font-size: 30px;
}

.btn {
    background: var(--background-color);
    color: var(--text-color);
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    border: 3px solid var(--button-border);
    border-radius: 10px;
    padding: 12px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background: var(--button-hover-color);
    transform: translateY(-2px);
}

.top-left-buttons {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    gap: 10px;
}

.top-left-buttons > button {
    border: 3px solid var(--text-color);
    background-color: var(--text-color);
    font: w95fa, monospace;
    color: var(--background-color);
}

.outlined-text {
    color: var(--text-color);;
    text-shadow:
      -2px -2px 0 var(--border-color),
       2px -2px 0 var(--border-color),
      -2px  2px 0 var(--border-color),
       2px  2px 0 var(--border-color),
       0   -2px 0 var(--border-color),
       0    2px 0 var(--border-color),
      -2px  0   0 var(--border-color),
       2px  0   0 var(--border-color);
  }
  
