@import url('/static/base.css');

.container {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  display: grid;

  grid-template-rows: auto 1fr;
  gap: 3px;
  width: 500px;
  min-height: 600px;
  
  background-color: var(--border-color);
  color: var(--text-color);
}

.container > * {
  background-color: var(--background-color);
  border: 3px solid var(button-border);
}

.player-card {
  border: 3px solid var(--border-color);
}
