doctype html
html
  head
    meta(charset="UTF-8")
    title Load game
    link(rel="stylesheet", href="/static/ui.css")
  body
    main
      .top-left-buttons
        button#exit-button.btn Back to main menu
        .container
          h1 Select a player from the list:
          each player in players
            .div
              p Player: #{player.name}
              p Location: #{player.loc_name}
              button(onclick=`window.location.href='/load-game?pid=${player.pid}'`) Go

    script(src="/static/logic.js")
