doctype html
html
  head
    meta(charset="UTF-8")
    title Load game
    link(rel="stylesheet", href="/static/ui.css")
  body
    main
      .wrapper
        .container
          #option-buttons.btn-grid
            h1 Select a player from the list:
            each player in players
              p Player: #{player.username}
              p Location: #{player.loc_id}
              button(onclick=`window.location.href='/load-game?pid=${player.pid}'`) Go
