doctype html
html
  head
    meta(charset="UTF-8")
    title Load game
    link(rel="stylesheet", href="static/ui.css")
  body
    main
      h1 Select a player from the list:
      each id in pids
        button(onclick=`window.location.href='/load-game?pid=${id}'`) #{id}
