doctype html 
html
  head
    meta(charset="UTF-8")
    title Error!
  body 
    h1 Invalid location! Go back to whence you came!
    button(onclick=`window.location.href='/location?locID=${userLocID}'`) #{buttonLabel}
