doctype html 
html
  head
    meta(charset="UTF-8")
    title Error!
  body 
    h1 Invalid location! Go back to where you were! 
    button(onclick=`window.location.href='/location?locID=${locID}'`) #{buttonLabel}
