doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Login & Game Files
    link(rel="stylesheet", href="/static/loginPage.css")
  body
    .image-box
      img.image-box-img(src="/static/logintree.png", alt="Forest Image")
    .sign
      span welcome to the forest
    .login
      form.login(method="POST", action="/log-in")
        input#username(type="text", placeholder="Username")
        input#password(type="password", placeholder="Password")
        button(type="submit") Create Account
    h3(style="margin-bottom: 5px;")
      | Please log in, or create a new account 
      a(href='/create-account') here
    ul#gameFiles
