doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Login & Game Files
    link(rel="stylesheet", href="/static/loginPage.css")
  body
    .image-box
      img.image-box-img(src="logintree.png", alt="Forest Image")
    
    .sign
      span welcome to the forest

    .login

    input#username(type="text", placeholder="Username")
    button(onclick="login()") Login

    h3(style="margin-bottom: 5px;") Welcome
    h3(style="margin-top: 5px;") please login using your username

    ul#gameFiles

    script(src="/static/logicLoginPage.js")
