doctype html
html
  head
    meta(charset="UTF-8")
    title Menu
    link(rel="stylesheet", href="static/ui.css")
  body
    nav
      ul
        li: a(href='/location?locID=0') Home
        li: a(href='/insert-location-form') Insert Location