doctype html 
html 
  head 
    meta(charset="UTF-8")
    title = "Adventure time..."
  body 
    h1 Welcome to the game, click the start button to begin! 
    button(onclick=`window.location.href='/location?locID=${userLocID}'`) Start
    button(onclick="window.location.href='/insert-location-form'") Insert
