doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/static/ui.css")
    title Log in to continue playing
  body
    main
      .container  
        h1 Log in
        if showError 
          p Username or password incorrect 
        form(action=`/log-in` method="post")
          h3 
            label(for="name") Username:
          input(type="text" id="username" name="username" required)
          h3  
            label(for="password") Password:
          input(type="password" id="password" name="password" required)
          button(type="submit").btn Log in
